{% extends "core/base.html" %}

{% block title %}{{product.name}} |{% endblock title %}

{% block frontpagecontent %}

<div class="max-w-6xl w-full mx-auto flex flex-wrap py-2 px-6 xl:px-0 mt-5">  

    <div class='images w-full mb-6 lg:mb-0 lg:w-3/5 '>
        
        <img src="{% if product.image %}{{ product.image.url}}
        {% else %}
        https://via.placeholder.com/240x240x.jpg
        {% endif %}" 
        alt="" class="rounded-xl object-cover h-96 w-full">

    </div>
    
    <div class='information w-full lg:w-2/5 lg:p-6'>
        <h1 class="text-2xl">{{product.name}}</h1>
        <p class='mt-1 text-blue-900'>${{product.price}}</p>
        {% if product.description %}
            <p class='mt-5 text-blue-900'>
                {{product.description}}
            </p>
        {% endif %}

    <a href="#" 
        class="mt-6 inline-block px-8 py-4 rounded-xl bg-blue-600 text-white hover:bg-blue-900"
        hx-get="{% url 'add_to_cart' product.id %}" 
        hx-target="#menu-cart-button"
        hx-swap='outerHTML'
        >
        Add to cart
    </a>
    </div>
    
</div>


<h1 class='text-center mt-10 text-xl text-blue-600 font-bold'>
    Similar Products
</h1>


<div class="w-full py-4  xl:px-0 mt-1 mb-1 ">   
    <div class="products w-full lg:w-full -mt-4 flex items-center flex-wrap justify-center">
        
{% for product in related_products %}
<div class='w-full md:w-1/2 xl:w-1/4 shadow-lg ml-8 mr-2 mb-5 mt-5 p-6'>


    <a href="{% url 'product' product.slug %}" >
    <img src="{{ product.get_thumbnail}}" alt="" class="rounded-xl hover:shadow-lg object-cover h-48 w-96">
    </a>                                                                                                                                                                                        
<div class="pt-3 flex items-center justify-between">


    <a href="{% url 'product' product.slug %}">
        {{product.name}}

    </a>

    <a href="" 
    hx-get="{% url 'add_to_cart' product.id %}" 
    hx-target="#menu-cart-button"
    hx-swap='outerHTML'
    class="text-blue-500 hover:text-blue-900">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
            <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
          </svg>
    </a>
</div>




<p class="pt-2 text-blue-500 font-bold">${{product.price}}</p>




</div>
{% endfor %}

</div>
</div>

{% endblock frontpagecontent %}